<%- include('../../fragments/header.ejs') %>
    <main>
        <script type="application/javascript" src="/js/validationMechanicForm.js"></script>
      <h2><%= pageTitle %></h2>
      <form class="form-mechanic" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">

          <input type="hidden" name="_id" value="<%= mech._id %>">

          <label for="firstName">Imię: <abbr title="required" aria-label="required">*</abbr></label>
          <input type="text" name="firstName" id="firstName" placeholder="2-60 znaków" value="<%=mech.firstName %>"
          <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
          <span id="errorFirstName" class="errors-text"></span>

          <label for="lastName">Nazwisko: <abbr title="required" aria-label="required">*</abbr></label>
          <input type="text" name="lastName" id="lastName" placeholder="2-60 znaków" value="<%= mech.lastName %>"
          <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
          <span id="errorLastName" class="errors-text"></span>

          <label for="birthDate">Data urodzenia: <abbr title="required" aria-label="required">*</abbr></label>
          <input type="date" name="birthDate" id="birthDate" value="<%= mech.birthDate %>"
          <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
          <span id="errorBirthDate" class="errors-text"></span>

          <label for="salary">Pensja (zł): <abbr title="required" aria-label="required">*</abbr></label>
          <input type="number" name="salary" id="salary" placeholder="np. 4500" value="<%= mech.salary %>"
          <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
          <span id="errorSalary" class="errors-text"></span>

          <% if (formMode === 'showDetails') { %>
              <div class="section-buttons">
                  <a href="/mechanics/edit/<%= mech._id %>" class="button-edit">Edytuj</a>
              </div>
          <% } %>

          <div class="form-buttons">
              <p id="errorSummary" class="errors-text"></p>
              <% if (formMode !== 'showDetails') { %>
              <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
              <a class="form-button-cancel" href="/mechanics">Anuluj</a>
              <% } else { %>
                  <a class="form-button-cancel" href="/mechanics">Powrót</a>
              <% } %>
          </div>
      </form>

          <% if (formMode === 'showDetails' || formMode == 'edit') { %>
              <h2>
                  Specjalizacje mechanika
              </h2>
              <table class="table-list">
                  <thead>
                  <tr>
                      <th>Nazwa</th>
                      <th>Data uzyskania</th>
                      <th>Poziom zaawansowania</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% for (let m of mech.mechspecs) { %>
                      <tr>
                          <td><a href="/specs/details/<%= m.spec._id %>"><%= m.spec.name %></a></td>
                          <td><%= m.spec.date.toISOString().split('T')[0] %></td>
                          <td><%= m.specLvl %></td>
                      </tr>
                  <% } %>
                  </tbody>
              </table>
          <% } %>
    </main>
<%- include('../../fragments/footer.ejs') %>