<%- include('../../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationMechanicForm.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form-mechanic" method="post" action="<%= formAction %>" novalidate>

        <input type="hidden" name="_id" value="<%= mechanic._id %>">

        <label for="firstName">Imię: <% if (formMode === 'createNew' || formMode === 'edit') { %> <abbr title="required" aria-label="required">*</abbr><% } %></label>
        <input type="text" name="firstName" id="firstName" placeholder="2-60 znaków" value="<%= mechanic.firstName %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('firstName')) ? 'error-input' : '' %>"/>

        <span id="errorFirstName" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('firstName'))) { %>
                <%= validationErrors.find(e => e.path.includes('firstName')).message %>
            <% } %>
        </span>

        <label for="lastName">Nazwisko: <% if (formMode === 'createNew' || formMode === 'edit') { %><abbr title="required" aria-label="required">*</abbr><% } %></label>
        <input type="text" name="lastName" id="lastName" placeholder="2-60 znaków" value="<%= mechanic.lastName %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('lastName')) ? 'error-input' : '' %>"/>

        <span id="errorLastName" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('lastName'))) { %>
                <%= validationErrors.find(e => e.path.includes('lastName')).message %>
            <% } %>
        </span>

        <label for="birthDate">Data urodzenia: <% if (formMode === 'createNew' || formMode === 'edit') { %><abbr title="required" aria-label="required">*</abbr><% } %></label>
        <input type="date" name="birthDate" id="birthDate" value="<%= (formMode === 'createNew') ? ((mechanic.birthDate !== null) ? mechanic.birthDate : '') : mechanic.birthDate.toISOString().split('T')[0]%>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('birthDate')) ? 'error-input' : '' %>"/>

        <span id="errorBirthDate" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('birthDate'))) { %>
                <%= validationErrors.find(e => e.path.includes('birthDate')).message %>
            <% } %>
        </span>

        <label for="salary">Pensja (zł): <% if (formMode === 'createNew' || formMode === 'edit') { %><abbr title="required" aria-label="required">*</abbr><% } %></label>
        <input type="number" name="salary" id="salary" placeholder="np. 4500" value="<%= mechanic.salary %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('salary')) ? 'error-input' : '' %>"/>

        <span id="errorSalary" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('salary'))) { %>
                <%= validationErrors.find(e => e.path.includes('salary')).message %>
            <% } %>
        </span>


        <div class="form-buttons">
            <p id="errorSummary" class="errors-text"></p>
            <% if (formMode !== 'showDetails') { %>
            <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
            <a class="form-button-cancel" href="/mechanics">Anuluj</a>
            <% } else { %>
                <a class="list-actions-button-edit" href="/mechanics/edit/<%= mechanic._id %>">Edytuj</a>
                <a class="button-back" href="/mechanics">Powrót</a>
            <% } %>
        </div>
    </form>

    <% if (formMode === 'showDetails') { %>
                <h2>
                    Specjalizacje mechanika
                </h2>
                <table class="table-list">
                    <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Data uzyskania</th>
                        <th>Poziom zaawansowania</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (let m of mechanic.mechspecs) { %>
                    <tr>
                        <td><a class="href-button" href="/specs/details/<%= m.spec._id %>"><%= m.spec.name %></a></td>
                        <td><%= m.date.toISOString().split('T')[0] %></td>
                        <% if(m.specLvl === 1) { %>
                            <td>Średnio-zaawansowany</td>
                        <% } else if (m.specLvl === 2){ %>
                            <td>Zaawansowany</td>
                        <% } else if (m.specLvl === 3){ %>
                            <td>Ekspert</td>
                        <% } %>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
    <% } %>
</main>
<%- include('../../fragments/footer.ejs') %>