<script type="application/javascript" src="/js/validationSpecForm.js"></script>
<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= pageTitle %></h2>
    <form class="form-mechanic" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm();">

        <input type="hidden" name="_id" value="<%= spec._id %>">

        <label for="name">Nazwa: <% if (formMode === 'createNew' || formMode === 'edit') { %><abbr title="required" aria-label="required">*</abbr><% } %></label>
        <input type="text" name="name" id="name" placeholder="2-80 znaków" value="<%= spec.name %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('name')) ? 'error-input' : '' %>"/>

        <span id="errorName" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('name'))) { %>
                <%= validationErrors.find(e => e.path.includes('name')).message %>
            <% } %>
        </span>

        <label for="university">Gdzie uzyskano: <% if (formMode === 'createNew' || formMode === 'edit') { %><abbr title="required" aria-label="required">*</abbr><% } %></label>
        <input type="text" name="university" id="university" placeholder="2-80 znaków" value="<%= spec.university %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('university')) ? 'error-input' : '' %>"/>
        <span id="errorWhere" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('university'))) { %>
                <%= validationErrors.find(e => e.path.includes('university')).message %>
            <% } %>
        </span>


        <div class="form-buttons">
            <p id="errorSummary" class="errors-text"></p>
            <% if (formMode !== 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
                <a class="form-button-cancel" href="/specs">Anuluj</a>
            <% } else { %>
                <a class="list-actions-button-edit" href="/specs/edit/<%= spec._id %>">Edytuj</a>
                <a class="button-back" href="/specs">Powrót</a>
            <% } %>
        </div>
    </form>
    <% if (formMode === 'showDetails') { %>
                <h2>
                    Mechanicy z daną specjalizacją
                </h2>
                <table class="table-list">
                    <thead>
                    <tr>
                        <th>Imię i nazwisko</th>
                        <th>Data uzyskania specjalizacji</th>
                        <th>Poziom zaawansowania</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (let s of spec.mechspecs) { %>
                        <tr>
                            <td><a class="href-button" href="/mechanics/details/<%= s.mechanic._id %>"><%= s.mechanic.firstName + ' ' + s.mechanic.lastName %></a></td>
                            <td><%= new Date(s.date.getTime() - (s.date.getTimezoneOffset()*60*1000)).toLocaleDateString().split('T')[0] %></td>
                            <% if(s.specLvl === 1) { %>
                                <td>Średnio-zaawansowany</td>
                            <% } else if (s.specLvl === 2){ %>
                                <td>Zaawansowany</td>
                            <% } else if (s.specLvl === 3){ %>
                                <td>Ekspert</td>
                            <% } %>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
    <% } %>
</main>
<%- include('../../fragments/footer.ejs') %>