<script type="application/javascript" src="/js/validationSpecForm.js"></script>
<%- include('../../fragments/header.ejs') %>
    <main>
      <h2><%= pageTitle %></h2>
      <form class="form-mechanic" method="post" action="<%=formAction%>" novalidate>

          <input type="hidden" name="_id" value="<%= spec._id %>">

          <label for="name">Nazwa: <abbr title="required" aria-label="required">*</abbr></label>
          <input type="text" name="name" id="name" placeholder="2-80 znaków" value="<%= spec.name %>"
                  <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                 class="<%= validationErrors.find(e => e.path.includes('name')) ? 'error-input' : '' %>"/>

          <span id="errorName" class="errors-text">
                  <% if (validationErrors.find(e => e.path.includes('name'))) { %>
                      <%= validationErrors.find(e => e.path.includes('name')).message %>
                  <% } %>
          </span>

          <label for="university">Gdzie uzyskano: <abbr title="required" aria-label="required">*</abbr></label>
          <input type="text" name="university" id="university" placeholder="2-80 znaków" value="<%= spec.university %>"
                  <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                 class="<%= validationErrors.find(e => e.path.includes('university')) ? 'error-input' : '' %>"/>
          <span id="errorWhere" class="errors-text">
              <% if (validationErrors.find(e => e.path.includes('university'))) {%>
                  <%= validationErrors.find(e => e.path.includes('university')).message %>
              <% } %>
          </span>

          <% if (formMode === 'showDetails') { %>
              <div class="section-buttons">
                  <a href="/specs/edit/<%= spec._id %>" class="button-edit">Edytuj</a>
              </div>
          <% } %>

          <div class="form-buttons">
              <p id="errorSummary" class="errors-text"></p>
              <% if (formMode !== 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                <a class="form-button-cancel" href="/specs">Anuluj</a>
              <% } else { %>
                  <a class="form-button-cancel" href="/specs">Powrót</a>
              <% } %>
          </div>
      </form>

          <% if (formMode === 'showDetails' || formMode === 'edit') { %>
              <h2>
                  Mechanicy z daną specjalizacją
              </h2>
              <table class="table-list">
                  <thead>
                  <tr>
                      <th></th>
                      <th>Imię</th>
                      <th>Nazwisko</th>
                      <th>Data uzyskania specjalizacji</th>
                      <th>Poziom zaawansowania</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% for (let s of spec.mechspecs) { %>
                      <tr>
                          <td><a href="/specs/details/<%= s._id %>"><%= s.firstName %></a></td>
                          <td><%= s.lastName %></td>
                          <td><%= s.date.toISOString().split('T')[0] %></td>
                          <td><%= s.specLvl %></td>
                      </tr>
                  <% } %>
                  </tbody>
              </table>
          <% } %>
    </main>
<%- include('../../fragments/footer.ejs') %>